.container{
 box-shadow:0 4px 8px 0 rgba(0,0,0,0.3) ;
 transition: 0.3s;
 width: 40%;
 border-radius: 10px;

}
.container:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6) ;
}
.name{
    padding: 2px 20px;
}
.img{
    border-radius: 10px 10px 0 0 ;
}